/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "foundation_and_overrides";
@import "custom";

body {
  background: #dcdddf url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png)!important;
}
.header {
  background: #354657;
  height: 70px;
  margin-bottom: 60px;
}
.clearfix:after, form:after {
  content: "";
  display: block;
  clear: both;
}
.login {
  background: #f9f9f9;
  border: 1px solid #c4c6ca;
  margin: 0 auto;
  padding: 25px 0;
  position: relative;
  text-align: center;
  width: 100%;
  h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
    &:before {
      content: "";
      height: 1px;
      position: absolute;
      top: 10px;
      width: 27%;
    }
    &:after {
      content: "";
      height: 1px;
      position: absolute;
      top: 10px;
      width: 27%;
      background: rgb(126, 126, 126);
      right: 0;
    }
    &:before {
      background: rgb(126, 126, 126);
      left: 0;
    }
  }
  &:after, &:before {
    background: #f9f9f9;
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
  }
  &:after {
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
  }
  &:before {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
  }
  form {
    margin: 0 20px;
    position: relative;
    input {
      &[type="email"], &[type="password"], &[type="password_confirmation"], &[type="text"], &[type="date"] {
        border-radius: 3px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: #eae7e7 url(http://habrastorage.org/files/730/356/5ab/7303565ab44042d8a0d168b4ec89956b.png) no-repeat;
        border: 1px solid #c8c8c8;
        color: #777;
        font: 13px Helvetica, Arial, sans-serif;
        margin: 0 0 10px;
        padding: 15px 10px 15px 40px;
        width: 100%;
      }
      &[type="email"]:focus, &[type="password"]:focus, &[type="password_confirmation"]:focus, &[type="text"]:focus, &[type="date"]:focus {
        background-color: #fff;
        border: 1px solid #ed1c24;
        outline: none;
      }
    }
  }
}
#user_email { background-position: 10px -190px !important }
#user_password, #user_password_confirmation, #user_current_password { background-position: 10px -53px !important }
#user_first_name, #user_last_name { background-position: 10px 10px; }
#user_birthday { background-position: 10px -115px;}
.login form input[type="submit"] {
   background: #fbcb15;
   border-radius: 5px;
    border:none;
  color: #fff;
  cursor: pointer;
  font: 15px;
    padding: 10px 35px;
    margin: 20px 0;
}

label {
  display: inline-block;
  padding-left: 10px;
  color: #7E7E7E;
}
.edit {
  width: 100%;
  padding-bottom: 20px;
  position: relative;
}
.edit form input[type="text"], .edit form input[type="password"], .edit form input[type="email"], .edit form input[type="date"], .edit form input[type="password_confirm"] {
  width: 100%;
}
.edit form input[type="submit"]{
  margin-left: 0;
}
.btns {
  position: absolute;
  bottom: 20px;
  left: 40px;
}
.edit h1 {
  text-align: center;
}
.avatar {
  display: inline-block;
  background: #fff;
  float:left;
  border: 1px solid #fff;
  margin-top: 10px;
  margin-right: 10px;

}
.avatar img {
  max-width: 50px;
}

.btn {
    background: #fbcb15;
    border-radius: 5px;
    border:none;
    color: #fff;
    cursor: pointer;
    font: 15px;
    padding: 10px 35px;
    margin-right: 15px;
    display: inline-block;
  }

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 50px 0 25px 0;

}
#uploadFile {
  padding: 7px;
  margin-bottom: 10px;

}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
